<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div text-center>
    <h3>Sign-in to your account</h3>
  </div>
  <div padding>
    <p>
      <label [ngStyle]="{ color: formControls.email.errors && formControls.email.dirty ? 'red' : 'pink' }" floating> Email </label>
      <input type="email" placeholder="your@email.com" formControlName="email" />
    </p>
    <p>
      <label [ngStyle]="{ color: formControls.password.errors && formControls.password.dirty ? 'red' : 'pink' }" floating> Password </label>
      <input type="password" placeholder="password" formControlName="password" />
    </p>
  </div>
  <div padding fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
    <button mat-raised-button size="large" type="submit" [disabled]="loginForm.invalid" expand="block">Sign-in</button>
    <span>OR</span>
    <button mat-raised-button size="large" color="warn" type="button" [disabled]="loginForm.invalid" expand="block" (click)="goToSignUpComponent()">Sign-up</button>
  </div>
</form>
