<ng-template [ngxPermissionsOnly]="['ADMIN']">
    <div>Haha admin loh</div>
</ng-template>

<ng-template [ngxPermissionsExcept]="['ADMIN']">
    <ng-container***REMOVED***ngIf="medicines$ | async; else loading">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="pharmacy">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Pharmacy </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.pharmacy }} </td>
            </ng-container>
            
            <ng-container matColumnDef="term">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Medicine name </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.term }} </td>
            </ng-container>
            
            <ng-container matColumnDef="count">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Count </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.count }} </td>
            </ng-container>
            
            <tr mat-header-row***REMOVED***matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row***REMOVED***matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-container>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
    <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
    </mat-paginator>
    <!-- <ng-container***REMOVED***ngIf="pageEvent">
        <ul***REMOVED***ngIf="medicines$ | async as medicines">
            <li***REMOVED***ngFor="let medicine of medicines">
                {{ medicine }} Norm tak
            </li>
        </ul>
    </ng-container> -->
</ng-template>
