<ng-container *ngIf="allTransactions$ | async as transactions; else loading">
    <mat-list>
        <mat-list-item *ngFor="let transaction of transactions">
            <h2 matLine style="font-size: 1.25em; color: orangered"><strong>{{ transaction.date }}</strong></h2>
            <p matLine *ngIf="transaction.status !== 'cancelled'">Staff email: <strong>{{ transaction.staffEmail }}</strong></p>
            <p matLine>User email: <strong>{{ transaction.userEmail }}</strong></p>
            <p matLine>Status: <strong style="font-size: 1.15em;" [style.color]="transaction.status === 'success' ? 'green' : transaction.status === 'failure' ? 'red' : 'goldenrod'">{{ transaction.status }}</strong></p>
            <p matLine>Booked purchases: <strong>{{ transaction.purchases }}</strong></p>
        </mat-list-item>
    </mat-list>
</ng-container>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
