<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
  <div text-center>
    <h3>Create your account!</h3>
  </div>
  <div padding fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
    <mat-form-field>
      <input
        matInput
        type="email" 
        placeholder="your@email.com"
        [ngStyle]="{ color: formControls.email.errors && formControls.email.dirty ? 'red' : 'green' }"
        formControlName="email" />
      <mat-error *ngIf="formControls.email.hasError('pattern')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="formControls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="password"
        [ngStyle]="{ color: formControls.password.errors && formControls.password.dirty ? 'red' : 'green' }"
        formControlName="password" />
      <mat-error *ngIf="formControls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput 
        name="confirm" 
        type="password" 
        placeholder="Confirm password"
        [ngStyle]="{ color: formControls.confirmPassword.errors && formControls.confirmPassword.dirty ? 'red' : 'green' }"
        formControlName="confirmPassword" />
      <mat-error *ngIf="formControls.confirmPassword.errors && formControls.confirmPassword.dirty">
        Passwords should be<strong>identical</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div padding>
    <button mat-raised-button size="large" type="submit" [disabled]="registrationForm.invalid" expand="block">Sign-up</button>
  </div>
</form>
