<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Personal data
        </mat-panel-title>
        <mat-panel-description>
            You can change it if you want
        </mat-panel-description>
        </mat-expansion-panel-header>

        <form
            (ngSubmit)="onEmailChangeSubmit(emailChangeForm.value)"
            [formGroup]="emailChangeForm">

            <p> Current email is <strong>{{ currentUserEmail }}</strong> </p>

            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Email"
                    [ngStyle]="{ color: emailChangeForm.controls.email.errors && emailChangeForm.controls.email.dirty ? 'red' : 'green' }"
                    formControlName="email">
                <mat-error *ngIf="emailChangeForm.controls.email.hasError('pattern')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            
            <button mat-raised-button size="large" type="submit" [disabled]="emailChangeForm.invalid" expand="block">Submit changing</button>

        </form>

        <mat-form-field>
            <input matInput placeholder="Age">
        </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Self aware panel
        </mat-panel-title>
        <mat-panel-description>
            Currently I am empty inside
        </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
