.table-container {
    width: 100%;
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

th.mat-sort-header-sorted {
    color: black;
}

tr.mat-row:hover {
    opacity: .7;
    background-color: coral;
}
