<ng-template [ngxPermissionsOnly]="['ADMIN']">
    <div>Haha admin loh</div>
</ng-template>

<div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="75%">
        <input matInput type="text" placeholder="Filter" #filter>
    </mat-form-field>
</div>
<ng-container***REMOVED***ngIf="medicines$ | async as medicines; else loading">
    <ng-template [ngxPermissionsOnly]="['USER']" [ngxPermissionsOnlyElse]="adminTable"> <!-- code duplicate for killing error bubbling in console  -->
        <table mat-table [dataSource]="medicines" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="pharmacy">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Pharmacy </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.pharmacy }} </td>
            </ng-container>
            
            <ng-container matColumnDef="term">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Medicine name </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.term }} </td>
            </ng-container>
            
            <ng-container matColumnDef="count">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Count </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.count }} </td>
            </ng-container>

            <ng-container matColumnDef="controls"> <!-- THE ONLY THING THAT DIFFERS FROM BELOW BECAUSE OF THE NgxPermissions -->
                <th mat-header-cell***REMOVED***matHeaderCellDef> Controls </th>
                <td mat-cell***REMOVED***matCellDef="let element">
                    <button mat-mini-fab color="warn" (click)="subFromCart(element)"***REMOVED***ngIf="isInCart(element)">
                        <mat-icon>exposure_neg_1</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="addToCart(element)"***REMOVED***ngIf="isEnough(element)">
                        <mat-icon>exposure_plus_1</mat-icon>
                    </button>
                    <a
                        mat-flat-button
                        color="accent"
                        [href]="'https://en.wikipedia.org/wiki/' + element.term">wiki page</a>
                </td>
            </ng-container>
            
            <tr mat-header-row***REMOVED***matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row***REMOVED***matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </ng-template>
    <ng-template #adminTable>
        <table mat-table [dataSource]="medicines" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="pharmacy">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Pharmacy </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.pharmacy }} </td>
            </ng-container>
            
            <ng-container matColumnDef="term">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Medicine name </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.term }} </td>
            </ng-container>
            
            <ng-container matColumnDef="count">
                <th mat-header-cell***REMOVED***matHeaderCellDef mat-sort-header> Count </th>
                <td mat-cell***REMOVED***matCellDef="let element"> {{ element.count }} </td>
            </ng-container>

            <ng-container matColumnDef="controls">  <!-- THE ONLY THING THAT DIFFERS FROM ABOVE BECAUSE OF THE NgxPermissions -->
                <th mat-header-cell***REMOVED***matHeaderCellDef>ADMIN controls</th>
                <td mat-cell***REMOVED***matCellDef="let element">
                    <button 
                        mat-flat-button 
                        color="warn" 
                        (click)="deleteFromDb(element)">delete all</button>
                    <mat-form-field>
                        <mat-label>move to another pharmacy</mat-label>
                        <mat-select (selectionChange)="moveToPharmacy(element, $event.value)">
                            <mat-option>---------------</mat-option>
                            <mat-option***REMOVED***ngFor="let pharmacy of pharmaciesList" [value]="pharmacy">{{ pharmacy }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
            
            <tr mat-header-row***REMOVED***matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row***REMOVED***matRowDef="let row; columns: displayedColumns" (click)="onItemClicked(row)"></tr>
        </table>
    </ng-template>
</ng-container>
<mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons>
</mat-paginator>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>