***REMOVED*** You can add global styles to this file, and also import other style files***REMOVED***/

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

***REMOVED*** html {
    color: #f2f2f2;
    font-size: 18px;
}

a {
    color: black;
}

body {
    background: rgb(212, 123, 91);
}***REMOVED***/
