***REMOVED*** You can add global styles to this file, and also import other style files***REMOVED***/

@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { 
    margin: 0;
    height: 100%;
}

html {
    color: #f2f2f2;
    font-size: 18px;
}

a {
    color: black;
}

body {
    background: rgb(212, 123, 91);
}
