<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onSidenavOpen()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="home" routerLinkActive="active">Home</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <ng-container *ngIf="isAuthenticated() | async; else signIn">
                <li>
                    <span class="currentUser">{{ getCurrentUserEmail() }}</span>
                </li>
                <li>
                    <a role="button" (click)="signOut()">Sign-out</a>
                </li>
            </ng-container>
            <ng-template #signIn>
                <li>
                    <a routerLink="sign-in" routerLinkActive="active">Sign-In</a>
                </li>
            </ng-template>
        </ul>
    </div>
</mat-toolbar>
