<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onSidenavOpen()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="home" routerLinkActive="active">
            <mat-icon fxHide.lt-sm>home</mat-icon>
            <span fxHide.gt-xs>Home</span>
        </a>
    </div>
    <mat-divider style="height: 100%; margin: 0 15px;" [vertical]="true"></mat-divider>
    <ng-container *ngIf="isAuthenticated() | async">
        <div>
            <a routerLink="main" routerLinkActive="active">
                <mat-icon fxHide.lt-sm>store</mat-icon>
            </a>
        </div>
    </ng-container>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <ng-container *ngIf="isAuthenticated() | async; else signIn">
                <li>
                    <span class="currentUser">{{ currentUserEmail }}</span>
                    <ng-template [ngxPermissionsExcept]="['ADMIN']">
                        <a routerLink="user-profile" routerLinkActive="active">
                            <mat-icon style="margin: 0 10px">build</mat-icon>
                        </a>
                    </ng-template>
                </li>
                <li>
                    <a role="button" (click)="signOut()">Sign-out</a>
                </li>
            </ng-container>
            <ng-template #signIn>
                <li>
                    <a routerLink="authentication" routerLinkActive="active">Sign-In</a>
                </li>
            </ng-template>
        </ul>
    </div>
</mat-toolbar>
