a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
 
a:hover {
    color: lightgray;
}

a.active {
    color: yellow;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.currentUser {
    color: red;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}