<mat-toolbar color="accent">
    <button 
        mat-icon-button
        fxHide.gt-xs
        (click)="onSidenavOpen()">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="home" routerLinkActive="active">
        <mat-icon fxHide.lt-sm>home</mat-icon>
        <span fxHide.gt-xs>Home</span>
    </a>
    <mat-divider fxHide.lt-sm style="height: 100%; margin: 0 15px;" [vertical]="true"></mat-divider>
    <ng-container *ngIf="isAuthenticated$ | async; else authentication">
        <ng-template [ngxPermissionsExcept]="['STAFF']">
            <a routerLink="store" routerLinkActive="active">
                <mat-icon fxHide.lt-sm>store</mat-icon>
            </a>
        </ng-template>
        <ul class="navigation-items" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <li>
                <span class="currentUser">{{ currentUserEmail() }}</span>
                <button mat-icon-button [matMenuTriggerFor]="settingsOptions">
                    <mat-icon style="margin: 0 10px">build</mat-icon>
                </button>
                <mat-menu
                    #settingsOptions="matMenu"
                    xPosition="before">
                    <ng-template [ngxPermissionsExcept]="['ADMIN']">
                        <a mat-menu-item routerLink="user-profile" routerLinkActive="active">settings
                            <mat-icon>settings_application</mat-icon>
                        </a>
                    </ng-template>
                    <a mat-menu-item role="button" (click)="signOut()">sign-out
                        <mat-icon>exit_to_app</mat-icon>
                    </a>
                </mat-menu>
            </li>
        </ul>
    </ng-container>
    <ng-template #authentication>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <a routerLink="authentication" routerLinkActive="active">Authentication</a>
        </div>
    </ng-template>
</mat-toolbar>
